* {
  margin: 0;
  padding: 0;
  cursor: url("./images/curson50.cur"), pointer;
}
body {
  background: rgb(230, 230, 230);
  color: #000;
  cursor: url("./images/curson50.cur"), pointer;

}

.contenedor {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 0.2fr, repeat(4, auto);
  grid-template-areas:
    "nav nav nav"
    "header header header"
    "imagen imagen imagen"
    "body body body"
    "footer footer footer";
  font-family: "Amatic SC", cursive;
}

.divPrints {
  max-width: 100%;
  max-height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6";
  font-family: "Amatic SC", cursive;
  gap: 20px;
  align-items: inherit;
  width: 70%;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}

.aboutMe {
  max-width: 100%;
  max-height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(1, 3fr);
  grid-template-areas:
    "yoSoyImage"
    "yoSoy";
  font-family: "Amatic SC", cursive;
  gap: 20px;
  align-items: inherit;
  width: 70%;
  padding: 20px;
}

.container {
  background-image: url(./images/negra2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 90%;
}

.yoSoy {
  grid-area: yoSoy;
  color: rgb(0, 0, 0);
}
.yoSoyImage {
  grid-area: yoSoyImage;
}

.footer p {
  margin-bottom: 0%;
}

.works {
  display: grid;
  grid-template-columns: 0.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "video"
    "descripcion";
  justify-content: center;
  background-color: #000;
  padding: 20px;
  align-content: center;
}
.video {
  grid-area: video;
  justify-items: center;
  width: 100%;
  padding: 30px;
  position: center;
}
.descripcion {
  grid-area: descripcion;
  color: #fff;
  text-align: center;
  justify-items: end;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "redes redes derechos";
  padding: 20px;
}

.footer .redes {
  grid-area: redes;
}

.footer .derechos {
  grid-area: derechos;
  align-items: inherit;
}

.nav {
  grid-area: nav;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(5, 2fr);
  color: #000;
  font-family: "Amatic SC", cursive;
  font-size: 200%;
  padding-left: 20px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(197, 195, 195, 0.475);
}
.logo {
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-top: 0%;
}
.contenedor .body .imagenPrincipal .imagen {
  grid-area: imagen;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-color: transparent;
  border-style: solid;
  padding: 20px;
}

.body .imagenPrincipal .imagen:hover {
  transform: scale(2) rotate(360deg);
  transition-duration: 1500ms;
}

.body .imagenPrincipal {
  overflow: hidden;
}

.divPrints img:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
}

.logo a:hover{
  transform: none;
}

.contenedor .header h1 {
  font-family: "Amatic SC", cursive;
  font-size: 350%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.contenedor .header h3 {
  font-size: 150%;
  font-family: "Amatic SC", cursive;
}

.nav-link {
  padding-left: 2%;
}

.contenedor .header {
  background: black;
  color: #fff;
  grid-area: header;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 63px;
}

.contenedor .body {
  background: #fff;
  grid-area: body;
}

.contenedor .footer {
  background: black;
  color: #fff;
  grid-area: footer;
  font-family: "Amatic SC", cursive;
}

@media screen and (max-width: 1024px) {
  .aboutMe {
    max-width: 100%;
    max-height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "yoSoyImage"
      "yoSoy";
    font-family: "Amatic SC", cursive;
    gap: 20px;
    align-items: inherit;
    width: 70%;
  }

  .container {
    background-size: 120%;
  }
  .body {
    padding: 0%;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .contenedor .nav a {
    font-size: large;
  }

  .contenedor .header {
    margin-top: 46px;
  }
  .container {
    background-size: 130%;
  }
  .logo {
    width: 50px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    font-size: small;
  }
  .video {
    width: fit-content;
  }
  .container {
    background-position-y: 95%;
    background-size: 230%;
  }
  .contenedor .nav a {
    font-size: small;
  }
  .logo {
    margin-bottom: 3%;
    padding-bottom: 1%;
    padding-top: 0%;
    margin-top: 0%;
    align-items: flex-start;
    position: center;
  }
  form label{
    font-size: large;
  }
  .contenedor .header{
    margin-top: 35px;
  }
  .nav{
    height: 34px;
  }

 }

.derechos a:active,
.derechos a:visited,
.derechos a:link {
  color: #fff;
}

.redes a:active,
.redes a:visited,
.redes a:link {
  color: #fff;
}

.derechos a:hover,
.redes a:hover {
  color: rgba(92, 84, 84, 0.8);
  text-decoration: none;
  transform: scale(2);
  transition-duration: 400ms;
}

/* NO VISITADO*/
.nav a:link,
.nav a:visited,
.nav a:active {
  text-decoration: none;
  color: black;
}

/* POSICIÓN MAUSE*/
a:hover {
  color: rgba(126, 15, 15, 0.8);
  text-decoration: none;
  transform: scale(1.5);
  transition-duration: 400ms;
}

.contenedor .footer .redes {
  align-items: flex-start;
}

.contenedor .footer .derechos {
  text-align: right;
}

form {
  padding: 20px;
  font-size: 1.8rem;
}

#contact {
  color: rgb(112, 115, 118);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}